body {
  background-color: #f0ece2;
}

h1,
h2,
h3,
a {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

a {
  display: block;
  margin: 0 auto;
}

.navbar-custom .navbar-brand {
  color: #c7b198;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}

.index-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .gallery-photo {
  box-shadow: 30px 30px;
  color: #C7B198;
  max-width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
} */

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}
